@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #cdaf95;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin-top: 55px;
    margin-bottom: 50px;
}

header h1 {
    text-align: center;
    font-weight: 800;
}

main {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 2px 7px 30px rgba(0, 0, 0, 0.25),
        2px 7px 15px rgba(0, 0, 0, 0.22);
    margin: 0 auto;
    padding: 0 1em;
    position: relative;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    min-height: 480px;
    min-width: 370px;

}

section, form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    font-size: 16pt;
    margin-top: 15px;
    background-color: rgb(206, 206, 206);
    border: 1px solid black;
    border-radius: 15px;
    word-break: break-all;
    min-height: 7rem;
    width: 350px;
}

#data-password {
    width: clamp(0px, 80%, 800px);
}

form {
    width: 100%;
}

label {
    width: clamp(0px, 100%, 800px);
}

label {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 25px;
}

label:last-child {
    border-bottom: none;
}

#data-capital-letters,
#data-numbers,
#data-symbols,
.container_input-range {
    accent-color: #cdaf95;
}

.container_input-range {
    display: flex;
    align-items: center;
    gap: 1rem;
}

output {
    width: 0.8rem;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #cdaf95;
    color: black;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    height: 36px;
}

#copyClipboard {
    top: 53px;
    right: 30px;
}

#newPassword {
    top: 425px;
    left: 100px;
}

#downloadPassword {
    top: 425px;
    right: 100px;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

